#### How dataframe create

In [1]:
person = {
    "first":"Corey",
    "last": "Schafer",
    "email": "CoreMach@gmail.com"
}

In [2]:
people = {
    "first": ["Corey"],
    "last": ["Schafer"],
    "email": ["Cores.dff@gmail.com"]
}

In [3]:
people = {
    "first":["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["Codres@gmail.com", "jonedoe@gmail.com", "johndeDoe@gmail.com"]
}

In [4]:
people['email']

['Codres@gmail.com', 'jonedoe@gmail.com', 'johndeDoe@gmail.com']

In [5]:
import pandas as pd

In [7]:
# Create a Dataframe from dictionary
df = pd.DataFrame(people)

In [8]:
df

   first     last                email
0  Corey  Schafer     Codres@gmail.com
1   Jane      Doe    jonedoe@gmail.com
2   John      Doe  johndeDoe@gmail.com

In [10]:
# Access columns
df['email']

0       Codres@gmail.com
1      jonedoe@gmail.com
2    johndeDoe@gmail.com
Name: email, dtype: object

In [11]:
# Return a series

type(df['email'])

pandas.core.series.Series

## What is series?
## It is a simply list of data with lot more functionality. Series is simple one column.

In [12]:
type(df)

pandas.core.frame.DataFrame

In [13]:
df.email

0       Codres@gmail.com
1      jonedoe@gmail.com
2    johndeDoe@gmail.com
Name: email, dtype: object

In [16]:
df.count

<bound method DataFrame.count of    first     last                email
0  Corey  Schafer     Codres@gmail.com
1   Jane      Doe    jonedoe@gmail.com
2   John      Doe  johndeDoe@gmail.com>

In [18]:
df[['first','last'] ]

   first     last
0  Corey  Schafer
1   Jane      Doe
2   John      Doe

In [19]:
df[['last', 'email']]

      last                email
0  Schafer     Codres@gmail.com
1      Doe    jonedoe@gmail.com
2      Doe  johndeDoe@gmail.com

In [20]:
type(df[['last', 'email']])

pandas.core.frame.DataFrame

In [21]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

### How to slice or get rows dataframe
### loc
###  iloc - Interger location

In [26]:
df.iloc[0]

first               Corey
last              Schafer
email    Codres@gmail.com
Name: 0, dtype: object

In [25]:
df.iloc[2]

first                   John
last                     Doe
email    johndeDoe@gmail.com
Name: 2, dtype: object

In [27]:
df.iloc[[0, 1]]

   first     last              email
0  Corey  Schafer   Codres@gmail.com
1   Jane      Doe  jonedoe@gmail.com

In [32]:
# Select column and rows

df.iloc[[0, 1], [2]]

               email
0   Codres@gmail.com
1  jonedoe@gmail.com

In [33]:
df

   first     last                email
0  Corey  Schafer     Codres@gmail.com
1   Jane      Doe    jonedoe@gmail.com
2   John      Doe  johndeDoe@gmail.com

In [34]:
df.loc[0]

first               Corey
last              Schafer
email    Codres@gmail.com
Name: 0, dtype: object

In [36]:
df.loc[[0, 1]]

   first     last              email
0  Corey  Schafer   Codres@gmail.com
1   Jane      Doe  jonedoe@gmail.com

In [37]:
df.loc[[0, 1], 'email']

0     Codres@gmail.com
1    jonedoe@gmail.com
Name: email, dtype: object

In [38]:
df.loc[[0, 1], ['last', 'email']]

      last              email
0  Schafer   Codres@gmail.com
1      Doe  jonedoe@gmail.com

In [39]:
df

   first     last                email
0  Corey  Schafer     Codres@gmail.com
1   Jane      Doe    jonedoe@gmail.com
2   John      Doe  johndeDoe@gmail.com

## Indexigin Set Reset

In [40]:
df

   first     last                email
0  Corey  Schafer     Codres@gmail.com
1   Jane      Doe    jonedoe@gmail.com
2   John      Doe  johndeDoe@gmail.com

In [41]:
df['email']

0       Codres@gmail.com
1      jonedoe@gmail.com
2    johndeDoe@gmail.com
Name: email, dtype: object

In [42]:
df.set_index('email')

                     first     last
email
Codres@gmail.com     Corey  Schafer
jonedoe@gmail.com     Jane      Doe
johndeDoe@gmail.com   John      Doe

In [43]:
df

   first     last                email
0  Corey  Schafer     Codres@gmail.com
1   Jane      Doe    jonedoe@gmail.com
2   John      Doe  johndeDoe@gmail.com

In [44]:
# Change actual
df.set_index('email', inplace=True)

In [45]:
df

                     first     last
email
Codres@gmail.com     Corey  Schafer
jonedoe@gmail.com     Jane      Doe
johndeDoe@gmail.com   John      Doe

In [46]:
df.index

Index(['Codres@gmail.com', 'jonedoe@gmail.com', 'johndeDoe@gmail.com'], dtype='object', name='email')

In [47]:
df.loc['jonedoe@gmail.com']

first    Jane
last      Doe
Name: jonedoe@gmail.com, dtype: object

In [48]:
df.iloc[0]

first      Corey
last     Schafer
Name: Codres@gmail.com, dtype: object

In [49]:
df.loc['jonedoe@gmail.com', 'last']

'Doe'

In [51]:
df.reset_index(inplace=True)
df

                 email  first     last
0     Codres@gmail.com  Corey  Schafer
1    jonedoe@gmail.com   Jane      Doe
2  johndeDoe@gmail.com   John      Doe